html,
body {
  margin: 0px;
  padding: 0px;
  background-color: #162129;
}
.navbar {
  background-color: #0f171d;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  position: fixed;
  width: 100%;
  opacity: 90%;
}
.nav-list {
  list-style-type: none;
}
.nav-list .list-item {
  display: inline-block;
  padding: 5px 10px;
}
.navbar a {
  color: white;
  text-decoration: none;
}
.navbar a:hover {
  color: #a2fab3;
}
.menu {
  display: none;
}
.menu-line {
  width: 20px;
  height: 3px;
  background-color: white;
  margin-bottom: 4px;
}
@media all and (max-width: 480px) {
  .navbar {
    flex-direction: column;
    position: relative;
  }
  .navbar .container-icon {
    width: 100%;
    margin-top: 15px;
    margin-left: 15px;
  }
  .menu {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
  }
  .nav-list {
    list-style-type: none;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding: 0px !important;
  }
  .nav-list .list-item {
    display: block;
    border-top: 1px solid white;
  }
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
  color: #a2fab3;
  font-size: 40px;
  font-family: 'Georgia', serif;
}
.wh-container {
  display: flex;
  flex-direction: row;
  color: white;
    background-color: #0f171d;

}
.wh-item {
  text-align: center;
  align-items: center;
  font-size: 25px;
  justify-content: center;
  font-family: 'Lucida Console', Monospace;
  padding: 10px 10px;
  margin: 10px 10px;
  width: 33%;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 3rem auto;
}
.grid-item {
  border: 1px solid #0f171d;
  background-color: #0f171d;
  color: white;
  /* padding: 20px;
  font-size: 30px;
  text-align: center; */
}
.project-title {
  font-size: 1rem;
  text-align: center;
  padding-top: 20px;
}
.grid-item a {
  text-decoration: none;
  color: white;
}
.project-image {
  height: calc(100% - 5rem);
  width: 100%;
}
.project {
  border-radius: 2px;
}
.code {
  color: #0f171d;
  transition: color 0.3s ease-out;
}
.project:hover .code {
  color: #a2fab3;
}
.footer{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content:space-around;
  background-color: #0f171d;
  color: white;
  padding: 30px 0px;
}
.f-header h3,h6{
  font-size: 25px;
    color: #a2fab3;
    margin: 5px;

}